*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fonteSize: 1.6rem;
}

body {
  scroll-behavior: smooth;
  font-size: var(--fonteSize);
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
  display: grid;
  place-content: center;
  height: 100vh;
  color: #fff;
}
body,
input,
button {
  font-family: "Russo One", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
.hidden {
  display: none;
}

main {
  text-align: center;
}
main .time {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 8.8rem;
  font-weight: bold;
}

h1 {
  margin-bottom: 5rem;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: -5rem;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
button:hover {
  border-radius: 50%;
  background-color: #523472;
  padding: 10px;
}
button ion-icon {
  font-size: 3rem;
  color: #fff;
}
.hide {
  display: none;
}
.controlers {
  border-radius: 9999px;
  background-color: #41295a;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.credito {
  display: block;
  text-align: center;
  color: #9a64d4;
  margin-top: 20px;
}

.minute,
.segundos {
  letter-spacing: 0.8rem;
}
